.postPage {
    border: blueviolet solid 4px;
    padding: 10px;
    margin: 10px;
    background-color: azure;
}

.posterName {
    display: flex;
    align-content: left;
}

.postTitle {
    display: grid;
    justify-content: center;
}
