/* TODO Add site wide styles */
html {
    display: flex;
    padding: 100px;
    padding-top: 0px;
    margin: 25px;
    margin-top: 0px;
    justify-content: center;
    background-color: #FFE4E1;
    font-family:Arial, Helvetica, sans-serif
}

div {
    display: grid;
    justify-content: center;
    padding: 20px;
}

button {
    width: 75px;
    height: 20px;
    border: maroon 2px solid;
    outline: none;
    background-color: white;
    position: center;
    z-index: 0;
    border-radius: 40px;
}

.buttonDiv {
    display: inline-block;
    padding: 5px;
}

form {
    display: grid;
    justify-content: center;
    border: lightslategrey 2px solid;
    padding: 40px;
}

.navButtons {
    display: inline-block;
    padding: 5px;
}



.profilepicture{
    height: 250px;
    width: 250px;
    border-radius:25%
}

li{
    list-style: none;
}

ul {
   padding: 0px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: lightgreen;
}
