html {
    display: flex;
    padding: 100px;
    padding-top: 0px;
    margin: 25px;
    margin-top: 0px;
    justify-content: center;
    background-color: #C6C6C6;
    font-family:Arial, Helvetica, sans-serif
}

form {
    background-color: #FFFFF0;
}

div {
    display: grid;
    justify-content: center;
    padding-top: 0px;
    margin-top: 0px;
}

button {
    width: 75px;
    height: 20px;
    border: blueviolet 2px solid;
    outline: none;
    background-color: white;
    position: center;
    z-index: 0;
    border-radius: 40px;
}

.buttonDiv {
    display: inline-block;
    padding: 5px;
}

form {
    display: grid;
    justify-content: center;
    border: lightslategrey 2px solid;
    padding: 40px;
}

.navButtons {
    display: inline-block;
    padding: 5px;
}


.profilepicture{
    height: 250px;
    width: 250px;
    border-radius:25%
}

li{
    list-style: none;
}

ul {
   padding: 0px;
}

nav {
    display: flex;
    justify-content: center;
    background-color: crimson;
    position: relative;
    margin-top: 0px;
}

input {
    color: black;
    font-size: 20px;
    margin: 0 auto;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: #F5F5f5;
    border: black 2px solid;
  }

  .formWrapper {
    margin-bottom: 20px;
  }

  p {
    word-break: break-word;
    overflow: normal;
  }


  .glootie {
    height: 55px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    border-color: crimson;
  }
