.postForm {
    padding-top: 20px;
}

.error {
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: red;
    font-weight: 200;
}

.button {
    margin-top: 45px;
    margin-bottom: 0px;
}
